/* Colors */
* {
  margin: 0;
  padding: 0;
  box-sizing: 20px; }

a {
  text-decoration: none; }

body {
  background-image: url(https://images.unsplash.com/photo-1466781783364-36c955e42a7f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

/* Animacion */
.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

/* Fin Animacion */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px; }

h1 {
  color: #73C6B6;
  text-shadow: 0 0 8px black; }

h2 {
  color: black; }

/* Index */
.words {
  text-align: center;
  font-style: italic;
  font-weight: bold; }

.info {
  margin: 50px;
  display: grid;
  gap: 1em auto;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  align-items: center;
  gap: 2em; }
  .info__text {
    text-align: left;
    margin: 20px;
    text-shadow: 0 0 8px black; }
    .info__text__title {
      margin: 10px; }
  .info__img {
    margin: auto; }

/* Fin de Index */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px; }

footer {
  text-align: center;
  background-color: gray;
  bottom: 0px;
  width: 100%;
  position: fixed; }

.formulario {
  min-height: 100vh;
  margin: auto; }

.acerca {
  text-align: center;
  margin: 20px; }
  .acerca__de {
    margin-top: 20px; }
    .acerca__de__nosotros {
      background-color: gray;
      margin: 10px;
      padding: 20px;
      font-style: italic;
      font-weight: bold; }

h2 {
  color: aliceblue;
  text-align: center;
  font-weight: bold; }

.donaciones {
  margin: 20px;
  font-weight: bold; }
  .donaciones__2 {
    font-weight: bold;
    margin: 20px; }

.donaciones__lista {
  display: flex;
  flex-direction: column;
  margin: 20px; }

.galeria {
  border-radius: 10px;
  margin-bottom: 20px; }

.formato__imagen {
  width: 20px;
  margin-bottom: 20px; }
