h2{
    color: aliceblue;
    text-align: center;
    font-weight: bold;
}

.donaciones{
    margin: 20px;
    font-weight: bold;
    
    &__2{
        font-weight: bold;
        margin: 20px;
    }
}

.donaciones__lista{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
