*{
    margin: 0;
    padding: 0;
    box-sizing: 20px;
}

a{
    text-decoration: none;
}

body{
    background-image: url(https://images.unsplash.com/photo-1466781783364-36c955e42a7f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80);
    @include no-repeat-cover-fixed;
}

/* Animacion */
.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes zoomIn {
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    50% {
    opacity: 1;
    }
    }
    @keyframes zoomIn {
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    50% {
    opacity: 1;
    }
    }
/* Fin Animacion */

main{
   @include flex-column-center;
    font-size: 20px;
}

h1{
    color: $secondary-color;
    text-shadow: 0 0 8px black;
}

h2{
    color: $alternative;
}

/* Index */
.words{
    text-align: center;
    font-style: italic;
    font-weight: bold;
}
.info {
    margin: 50px;
    display: grid;
    gap: 1em auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    align-items: center;
    gap: 2em;
    &__text{
        text-align: left;
        margin: 20px;
        text-shadow: 0 0 8px black;
        &__title{
            margin: 10px;
            
        }
    }
    &__img{
        margin: auto;
    }
}
/* Fin de Index */

